  input{
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    width: 350px;
    height: 30px;
    border: none;
    border-bottom: 1px solid black;
  }
  .button{
    margin-left: 30px;
    width: 90px;
    height: 40px;
    background-color: #39A7FF;
    border-radius: 15px;
    border: none;
    color: white;
  }
  
  .Footer{
    height: 50px;
    width: 590px;
    margin-left: 350px;
    margin-top: 50px;
    /* background-color: wheat; */
  }
  .des1{
    border-radius: 10px;
    margin-left: 100%;
    transform: rotate(30deg);
    transform-origin: -30% -30%;
    width: 100px;
    height: 100px;
    background-color:#39A7FF ;
  }
  .des2{
    position: absolute;
    margin-top: -300px;
    border-radius: 40px;
    transform: rotate(40deg);
    transform-origin: 20% -10%;
    width: 300px;
    height: 300px;
    background-color:#39A7FF ;
  }
  .footer2{
    height: 40px;
    width: 590px;
    padding-top: 10px;
    margin-left: 400px;
    position: relative;
    float: right;
  
  }
  a{
    text-decoration: none;
  }
  #inp1{
    margin-left: -100px;
    
  }
  #inp2{
    margin-left: -200px;
  }

  .header{
    width: 550px;
    height: 50px;
    padding: 20px;
    margin-top: 50px;
    margin-left: 500px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .login1{
    width: 550px;
    height: 250px;
    padding: 20px;
    margin-left: 700px;
  }
 